# OSX backup
*.DS_Store

# Byte-compiled / optimized / DLL files
.idea/
__pycache__/
*.py[cod]
*$py.class

# log file
# *.log

pkl/
preprocess/*.pkl
en_tweets

# glove vector file
vectors.txt
vocab.txt
!iter_result/*

unlabel.csv
SeqLabeling/data/unlabel.csv
# .csv