{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block content %}
<div class="container">


    <div class="jumbotron">
        <h1 class="display-4">Identify spelling variants</h1>
        <p class="lead">Input the word to find the spelling variant in the socia media.</p>
        <hr class="my-4">

        {% if form is defined %}
        <div class="row justify-content-center mt-lg-5">

            <!--<form class="form-inline">-->
            <!--<div class="form-row">-->
            <!--</div>-->
            <!--<div class="form-group mx-sm-3 mb-2 col-lg-8">-->
            <!--<label for="inputWord" class="sr-only">Word</label>-->
            <!--<input type="text" class="form-control" id="inputWord" placeholder="Input word here"  aria-describedby="inputHelpBlock">-->
            <!--&lt;!&ndash;<small id="inputHelpBlock" class="form-text text-muted">&ndash;&gt;-->
            <!--&lt;!&ndash;Input words must contain letters or numbers, and must not contain spaces, special characters, or emoji.&ndash;&gt;-->
            <!--&lt;!&ndash;</small>&ndash;&gt;-->
            <!--</div>-->
            <!--<button type="submit" class="btn btn-primary btn-large mb-2">submit</button>-->
            <!--</form>-->
            <div class="form-row">
                <div class="col-md-12">
                    {{ wtf.quick_form(form)}}
                </div>
            </div>
        </div>
        {% endif %}

        {% if data is not defined %}

        {% elif data is none %}

        <div class="alert alert-danger mt-5" role="alert"> No entry matched for word <b>{{form.word.data}}</b> in Urban
            Dictionary :(
        </div>

        <!--result-->
        {% else %}

        <hr class="my-3">
        <div class="row ml-2 mt-3">
            {{ var_list|length }} varaints found:

            {% for var in var_list %}
            <span class="mx-1 badge {{ loop.cycle('badge-success','badge-dark','badge-primary','badge-secondary','badge-warning') }}">{{ var }}</span>
            {% endfor %}
        </div>


        <div class="alert alert-success mt-5" role="alert">
            {{ data|length }} definitions matched <b>{{form.word.data}}</b> from Urban Dictionary
        </div>
        <div class="card-columns">
            {% for term in data %}
            <div class="card">
                <div class="card-body" id="{{ term.defid }}">
                    <h5 class="card-subtitle">
                        <span class="badge badge-pill badge-light">{{ term.word }}</span>
                    </h5>
                    <p class="card-text">
                        {% for tok in term.toks%}
                        {% if loop.index0 not in term.label_index %}
                        <!--{{ term.defn }}-->
                        {{ tok }}
                        {% else %}
                        <span class="badge badge-info">{{ tok }}</span>
                        {% endif %}
                        {% endfor %}
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>


    </div>
    {% endif %}
</div>
</div>

{% endblock %}

<!--{% for message in get_flashed_messages() %}-->
<!--<div class="alert alert-warning">-->
<!--<button type="button" data-dismiss="alert" class="close">&times;</button>-->
<!--{{ message }}-->
<!--</div>-->
<!--{% endfor %}-->
<!--<div class="row">-->
<!--<div class="col-md-3 col-md-offset-4">-->
<!--{{ wtf.quick_form(form) }}-->
<!--</div>-->

<!--</div>-->